body {
  overflow: hidden;
}

#staticbg {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(83, 83, 83, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../assets/tree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  filter: blur(3px);
}

#ratio {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 0;
  right: 0;
  transition: 1.5s ease;
  background: #fff;
  box-shadow: 0 0 40px #000;
}

#ratio.active {
  top: 12%;
  bottom: 12%;
  transition: 1.5s ease;
}

#memory {
  position: absolute;
  padding: 20px;
  width: 40%;
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: 1s ease;
}

#memory.active {
  transition: 1s ease;
  opacity: 1;
  z-index: 1;
}

#memory #memory-title {
  display: block;
  font-family: "Song Myung", serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 0 #261f12;
  top: -20px;
  font-size: 18pt;
}

#memory #memory-desc {
  color: #fff;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

#memory #memory-date {
  position: relative;
  display: block;
  font-family: 'Song Myung', sans-serif;
  font-size: 14pt;
  color: #fff;
  text-shadow: 2px 2px 0 #261f12;
  text-align: center;
}

#welcome-message {
  position: absolute;
  text-align: center;
  color: #d2f059;
  font-weight: 800;
  font-size: 95pt;
  letter-spacing: -12px;
  text-shadow: 2px 2px 0 #261f12;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  box-sizing: border-box;
  font-family: "Song Myung", serif;
  z-index: 1;
  cursor: default;
  transition: 1s ease;
}

#welcome-message.hidden {
  transition: 1s ease;
  font-size: 65pt;
  opacity: 0;
}

#welcome-message-sub {
  position: absolute;
  text-align: center;
  color: #d2f059;
  text-shadow: 2px 2px 0 #261f12;
  font-weight: 400;
  font-size: 25pt;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-family: "Song Myung", serif;
  z-index: 1;
  transition: 1s ease;
}

#welcome-message-sub.hidden {
  transition: 1s ease;
  font-size: 15pt;
  top: 47.5%;
  opacity: 0;
}

.action {
  position: absolute;
  z-index: 1;
  display: block;
  font-family: "Raleway", serif;
  font-size: 15pt;
  letter-spacing: 0px;
  border: 0;
  color: #fff;
  outline: none;
  background: rgba(0, 0, 0, 0.25);
  letter-spacing: 0px;
  box-sizing: border-box;
  border: 3px solid #d2f059;
  box-shadow: 2px 2px 0 #261f12;
  color: #d2f059;
  text-shadow: 2px 2px 0 #261f12;
  outline: none;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s ease;
  opacity: 0;
}

.action .icon {
  display: block;
  font-size: 15pt;
}

.action.active {
  opacity: 1;
}

.action.add {
  left: 32%;
  bottom: -40px;
}

.action.random {
  right: 32%;
  bottom: -40px;
}

.action.small {
  font-size: 0pt;
  padding: 20px 0;
  width: 60px;
  bottom: 20px;
}

.action.small .icon {
  font-size: 15pt;
}

.action.small.random {
  right: 45%;
}

.action.small.add {
  left: 45%;
}

.action:hover {
  transition: 1s ease;
  color: #fff;
  background: #d2f059;
}

.action.disabled {
  opacity: .2;
  cursor: not-allowed;
}

.action.disabled:hover {
  color: #d2f059;
  background: rgba(0, 0, 0, 0.25);
}

#add-memory-popup {
  display: block;
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 16.75%;
  height: 60%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  border: 3px solid #d2f059;
  box-shadow: 2px 2px 0 #261f12;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  transition: 1s ease;
}

#add-memory-popup #add-memory-dimmer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  background: transparent;
  transition: 1s ease;
}

#add-memory-popup #add-memory-dimmer.active {
  z-index: 2;
  transition: 1s ease;
  background: rgba(0, 0, 0, 0.8);
}

#add-memory-popup img {
  position: absolute;
  width: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 1s ease;
}

#add-memory-popup img.active {
  transition: 1s ease;
  z-index: 3;
  opacity: 1;
}

#add-memory-popup #close-add-memory {
  background: transparent;
  color: #d2f059;
  border: 0;
  cursor: pointer;
  font-size: 22pt;
  transition: 1s ease;
  float: right;
}

#add-memory-popup #close-add-memory:hover {
  transition: 1s ease;
  color: #fff;
}

#add-memory-popup .form {
  padding: 10px;
}

#add-memory-popup .form label {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: #d2f059;
  font-size: 10pt;
  margin-top: 20px;
}

#add-memory-popup .form label.file {
  margin: 20px auto;
  width: calc(100% - 5px);
  text-align: center;
  border: 2px solid #d2f059;
  color: #d2f059;
  text-shadow: 2px 2px 0 #261f12;
  padding: 10px 5px;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease;
}

#add-memory-popup .form label.file:hover {
  transition: 1s ease;
  color: #fff;
  background: #d2f059;
}

#add-memory-popup .form .input {
  background: none;
  border: 0;
  width: 100%;
  border-bottom: 2px solid #d2f059;
  box-sizing: border-box;
  color: #fff;
  font-size: 12pt;
  padding: 5px;
  resize: none;
  font-family: "Raleway", sans-serif;
}

#add-memory-popup .form input[type="file"] {
  display: none;
}

#add-memory-popup .form button {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  border: 0;
  box-shadow: 0 4px 0 #261f12;
  color: #261f12;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  background: #d2f059;
  transition: 1s ease;
}

#add-memory-popup .form button:hover {
  box-shadow: 0 4px 0 #6c5833;
  transition: 1s ease;
}

#add-memory-popup.active {
  display: block;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease;
}

#back {
  background-image: linear-gradient(to bottom, rgba(83, 83, 83, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%), url(../assets/tree.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  z-index: 0;
}
